{% extends '::base.html.twig' %}
    {% block stylesheets %}
        <style>
            #container {
                height: 800px;
                min-width: 610px;
                max-width: 1200px;
                margin: 0 auto;
            }

            .loading {
                margin-top: 10em;
                text-align: center;
                color: gray;
            }
        </style>
    {% endblock %}

{% block javascripts %}{% endblock %}





{% block body -%}
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/ua/ua-all.js"></script>

    <div id="container"></div>
    <script>
        $(function () {
            var data = [

                {% for d in studentAmountUniPerRegion %}
                {

                    "hc-key": "{{ d["hc"] }}",
                    "value": {{ d["val"] }}

                    {% if d["hc"] == "ua-kv" %}
                },
                {
                    "hc-key": "ua-kc",
                    "value": {{ d["val"] }}
                    {% endif %}

                    {% if d["hc"] == "ua-kr" %}
                },
                {
                    "hc-key": "ua-sc",
                    "value": {{ d["val"] }}
                    {% endif %}

                },
                {% endfor %}

            ];
            $('#container').highcharts('Map', {

                title: {
                    text: 'Распределение студентов по учебным заведениям Украины'
                },

                subtitle: {
//                    text: 'Source map: <a href="http://code.highcharts.com/mapdata/countries/ua/ua-all.js">Ukraine</a>'
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    min: 0
                },

                series: [{
                    data: data,
                    mapData: Highcharts.maps['countries/ua/ua-all'],
                    joinBy: 'hc-key',
                    name: 'Students from region',
                    states: {
                        hover: {
                            color: '#BADA55'
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }]
            });
        });


    </script>

    <ul>

        <li><a href="{{ path('stat_stud_reg') }}">
                Распределение происхождения студентов по территории Украины
            </a>
        </li>
        <li><a href="{{ path('stat_uni_reg') }}">
                Распределение университетов по территории Украины
            </a>
        </li>
        <li><a href="{{ path('stat_group_uni') }}">
                Распределение групп по университетам
            </a>
        </li>
        <li><a href="{{ path('stat_department_uni') }}">
                Распределение кафедр по университетам
            </a>
        </li>
        <li><a href="{{ path('stat_faculty_uni') }}">
                Распределение факультетов по университетам
            </a>
        </li>
        <br>
        <li><a href="{{ path('bruvinsky_highschool_home') }}">
                Home page
            </a>
        </li>
    </ul>

{% endblock %}

