{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Аудитория</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Namenumber</th>
                <td>{{ entity.nameNumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('classroom') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('classroom_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
